<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Monefy Mobile Automation">
        <classes>
            <class name="tests.AddExpenseAndIncomeEntryTest"/>
            <class name="tests.ChangeCategoryTest"/>
            <class name="tests.ChangeAmountTest"/>
            <class name="tests.NegativeTest"/>
        </classes>
    </test>
</suite>